ATTN_CREDIT_BASE_URL=https://credit.attn.markets
ATTN_MATRICA_RETURN_TO=/matrica/connect/success
ATTN_MATRICA_SESSION_ID=
ATTN_MATRICA_SESSION_TOKEN=
ATTN_XLAYER_RECIPIENT_ADDRESS=
ATTN_XLAYER_GIFT_AMOUNT_USD=5
ATTN_XLAYER_IDEMPOTENCY_KEY=
ATTN_XLAYER_CAMPAIGN_ID=

OKX_ONCHAINOS_BIN=onchainos
OKX_X402_URL=
OKX_X402_METHOD=GET
OKX_X402_REQUEST_HEADERS_JSON={}
OKX_X402_REQUEST_BODY_JSON=
OKX_X402_MAX_TIMEOUT_SECONDS=300
OKX_X402_NETWORK=

OKX_API_KEY=
OKX_SECRET_KEY=
OKX_PASSPHRASE=

PROOF_OUTPUT_DIR=./tmp

